<%-include("../partials/header")%>

<div class="card">
  <div class="card-body">
     <h1 class="py-5 text-center display-3">HAVE A CHAT WITH DOCTOR</h1>
     <%if(chats.length==0){%>
    <h5 class="card-text p-5">No Chats Yet.</h5>
	  <%}%>
	  
	  <%chats.forEach(chat => {%>
	  
	  <%if(!chat.isSendingReport){%> 
	  <div class="px-5 pb-4">
		  <strong class="px-1" style="font-size:1.2rem;background:black;color:white;"><%=chat.author.toUpperCase()%></strong>
		  <p>
			  <%=chat.text%>
		  </p>
		  <hr>
	  </div>
	  <%}else if(chat.isSendingReport){%>
	  <div class="px-5 pb-4">
		   <strong class="px-1" style="font-size:1.2rem;background:black;color:white;"><%=chat.author.toUpperCase()%></strong>
		  <strong><h6>Report</h6></strong>
		  <div>
			  <strong>Problem : </strong><%=chat.report.problem%><br>
			  <strong>Title :</strong><%=chat.report.reportTitle%><br><br>
			  <img src="<%=chat.report.reportLink%>" style="width:50%;">
		  </div>
		  <hr>
	  </div>
	  <%}%>
	  <%})%>
	  
	  
    <a href="/doctor/<%=did%>/patient/<%=pid%>/message" class="btn btn-success m-3">Message</a>
	  <%if(currentUser.isPatient){%>
	<a href="/doctor/<%=did%>/patient/<%=pid%>/report" class="btn m-3 btn-success">Send Report</a>
	<%}%>
  </div>
  
</div>

<%-include("../partials/footer")%>